$primary-accent-color: #219ebc;
$primary-light-color: #8ecae6;
$primary-dark-color:#023047;
$bg-color: #ffffff;
$secondary-light-color: #ffd66d;
$secondary-accent-color: #ffb703;
$secondary-dark-color: #fb8500;