@import "../../styles/common.scss";

.tours_container{
    font-family: 'Oswald';
    display: block;
    .front_image{
        height: 800px;
        background-image: url('../../assets/images/bgtest.png');
        background-size: cover;
        background-position: center;
    }
    h1{
        
        font-size: 60px;
    }

    .n{
        height:1000px; background-color:  var(--bgColor);
    }
    .nn{
        height:1000px; background-color: var(--primaryColor);
    }
    .nnn{
        height:300px; background-color: var(--primaryColor);
    }
}